/* Work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

/* shared style */

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body {

    margin: 0;
}

.btn-primary {
    padding: 15px 20px;
    border-radius: 8px;
    background: #ff900e;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #131313;
    color: #ff900e;
    font-weight: 500;
    transition: calc(0.5s);
}

.btn {
    margin-top: 1rem;
}

.text-color-gray {
    color: #727272;
}

/* header style */

header {
    background: rgba(189, 104, 7, 0.1);
    padding: 50px 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
    cursor: pointer;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner style */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;

}

.banner-img {
    width: 100%;
    margin-top: 30px;

}

/* main styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams style */
.teams-container {
    display: flex;
    align-items: center;
    margin: 0 0 0 140px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Features style */
.features {
    margin-top: 100px;
    display: flex;
    gap: 50px;
}

.features-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 5px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;

}

.features-content .card {
    width: 580px;
    height: 160px;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}



/* facts style */
.facts-container {
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.facts-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 5px;
}

.facts-description {
    margin-bottom: 50px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin: 0 70px;
    margin-bottom: 200px;
    cursor: pointer;
}

.facts-card-container .card {
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 30px;
}

.facts-card-container .cards-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

.facts-card-container .cards-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* sponsors style */


.sponsors-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 5px;
}

.sponsors-title,
.sponsors-description {
    text-align: center;
}

.sponsors-img-container {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.sponsors-img-container img {
    width: 100px;
    height: 30px;
}



/* Responsive media query */
/* For Mobile devices */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container,
    .features {
        flex-direction: column;
    }

    .teams-container {
        margin: 0 auto;
    }

    .banner-img {
        width: 100%;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }

    .facts-container {
        text-align: center;
    }

}

/* For tablets or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container,
    .features {
        flex-direction: column;
    }

    .teams-container {
        margin: 0 auto;
    }

    .banner-img {
        width: 100%;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-container {
        text-align: center;
    }

    .facts-card-container {
        padding: 0 20px;
        gap: 20px;
    }


}