/* Work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

/* shared style */

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body {

    margin: 0;
}

.btn-primary {
    padding: 15px 20px;
    border-radius: 8px;
    background: #ff900e;
    color: #fff;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

/* header style */

header {
    background: rgba(189, 104, 7, 0.1);
    padding: 50px 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner style */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 5rem;
    font-weight: 700;
    color: #131313;
  
}

.banner-description {
    color: #727272;
}
.banner-img{
    margin-top: 30px;
    width: 100%;
}

/* Responsive media query */
/* For Mobile devices */

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .banner-img{
        width: 100%;
    }
}

/* For tablets or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    .banner-img{
        width: 100%;
    }
    
}